In [1]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from numpy import mean
from numpy import absolute
from numpy import sqrt
import pandas as pd

In [4]:
data = pd.DataFrame({'y': [6, 8, 12, 14, 14, 15, 17, 22, 24, 23],'x1': [2, 5, 4, 3, 4, 6, 7, 5, 8, 9],'x2': [14, 12, 12, 13, 7, 8, 7, 4, 6, 5]})

In [5]:
data

    y  x1  x2
0   6   2  14
1   8   5  12
2  12   4  12
3  14   3  13
4  14   4   7
5  15   6   8
6  17   7   7
7  22   5   4
8  24   8   6
9  23   9   5

In [6]:
X = data[['x1', 'x2']]
Y = data['y']

In [7]:
X

   x1  x2
0   2  14
1   5  12
2   4  12
3   3  13
4   4   7
5   6   8
6   7   7
7   5   4
8   8   6
9   9   5

In [8]:
Y

0     6
1     8
2    12
3    14
4    14
5    15
6    17
7    22
8    24
9    23
Name: y, dtype: int64

In [19]:
cv = KFold(n_splits=10, random_state=1, shuffle=True)

In [10]:
model = LinearRegression()

In [20]:
scores = cross_val_score(model, X, Y, scoring='neg_mean_absolute_error',cv=cv, n_jobs=-1)

In [21]:
mean(absolute(scores))

3.146154808346972

In [15]:
cv = KFold(n_splits=5, random_state=1, shuffle=True)

In [16]:
scores = cross_val_score(model, X, Y, scoring='neg_mean_absolute_error',cv=cv, n_jobs=-1)

In [17]:
sqrt(mean(absolute(scores)))

1.9010856764439537

In [18]:
mean(absolute(scores))

3.6141267491803646

In [26]:
#OLS
import statsmodels.api as sm

In [27]:
X = sm.add_constant(X)

In [28]:
model = sm.OLS(Y,X).fit()

In [29]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.801
Model:                            OLS   Adj. R-squared:                  0.744
Method:                 Least Squares   F-statistic:                     14.09
Date:                Thu, 20 May 2021   Prob (F-statistic):            0.00352
Time:                        11:14:02   Log-Likelihood:                -23.697
No. Observations:                  10   AIC:                             53.39
Df Residuals:                       7   BIC:                             54.30
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         21.2672      6.993      3.041      0.019       4.732      37.802
x1             0.7803      0.694      1.124      0.298      -0.861       2.422
x2            -1.1253      0.425     -2.647      0.033      -2.130      -0.120
==============================================================================
Omnibus:                        0.768   Durbin-Watson:                   1.853
Prob(Omnibus):                  0.681   Jarque-Bera (JB):                0.645
Skew:                           0.487   Prob(JB):                        0.724
Kurtosis:                       2.226   Cond. No.                         76.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

c:\users\vivek\appdata\local\programs\python\python39\lib\site-packages\scipy\stats\stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "