# 
It is similar to the stacking method explained above, but rather than using the whole dataset for training the base-models, a validation dataset is kept separate to make predictions.

Split the training dataset into train, test and validation dataset.
Fit all the base models using train dataset.
Make predictions on validation and test dataset.
These predictions are used as features to build a second level model
This model is used to make predictions on test and meta-features

In [10]:
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/tripathiaakash/ML_Course/main/heart.csv")

In [3]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [4]:
a = pd.get_dummies(data['cp'], prefix = "cp")
b = pd.get_dummies(data['thal'], prefix = "thal")
c = pd.get_dummies(data['slope'], prefix = "slope")

In [5]:
frames = [data, a, b, c]
data = pd.concat(frames, axis = 1)
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
0,63,1,3,145,233,1,0,150,0,2.3,...,0,0,1,0,1,0,0,1,0,0
1,37,1,2,130,250,0,1,187,0,3.5,...,0,1,0,0,0,1,0,1,0,0
2,41,0,1,130,204,0,0,172,0,1.4,...,1,0,0,0,0,1,0,0,0,1
3,56,1,1,120,236,0,1,178,0,0.8,...,1,0,0,0,0,1,0,0,0,1
4,57,0,0,120,354,0,1,163,1,0.6,...,0,0,0,0,0,1,0,0,0,1

In [6]:
data = data.drop(columns = ['cp', 'thal', 'slope'])
data.head()

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,ca,...,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
0,63,1,145,233,1,0,150,0,2.3,0,...,0,0,1,0,1,0,0,1,0,0
1,37,1,130,250,0,1,187,0,3.5,0,...,0,1,0,0,0,1,0,1,0,0
2,41,0,130,204,0,0,172,0,1.4,0,...,1,0,0,0,0,1,0,0,0,1
3,56,1,120,236,0,1,178,0,0.8,0,...,1,0,0,0,0,1,0,0,0,1
4,57,0,120,354,0,1,163,1,0.6,0,...,0,0,0,0,0,1,0,0,0,1

In [7]:
Y = data['target']
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [8]:
X = data.drop(['target'], axis = 1)
X

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,ca,...,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
0,63,1,145,233,1,0,150,0,2.3,0,...,0,0,1,0,1,0,0,1,0,0
1,37,1,130,250,0,1,187,0,3.5,0,...,0,1,0,0,0,1,0,1,0,0
2,41,0,130,204,0,0,172,0,1.4,0,...,1,0,0,0,0,1,0,0,0,1
3,56,1,120,236,0,1,178,0,0.8,0,...,1,0,0,0,0,1,0,0,0,1
4,57,0,120,354,0,1,163,1,0.6,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,140,241,0,1,123,1,0.2,0,...,0,0,0,0,0,0,1,0,1,0
299,45,1,110,264,0,1,132,0,1.2,0,...,0,0,1,0,0,0,1,0,1,0
300,68,1,144,193,1,1,141,0,3.4,2,...,0,0,0,0,0,0,1,0,1,0
301,57,1,130,131,0,1,115,1,1.2,1,...,0,0,0,0,0,0,1,0,1,0
302,57,0,130,236,0,0,174,0,0.0,1,...,1,0,0,0,0,1,0,0,1,0

In [11]:
X = (X - np.min(X)) / (np.max(X) - np.min(X)).values
X

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,ca,...,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
0,0.708333,1.0,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.00,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.166667,1.0,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.00,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,0.250000,0.0,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,0.00,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.562500,1.0,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,0.00,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.583333,0.0,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.583333,0.0,0.433962,0.262557,0.0,0.5,0.396947,1.0,0.032258,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
299,0.333333,1.0,0.150943,0.315068,0.0,0.5,0.465649,0.0,0.193548,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
300,0.812500,1.0,0.471698,0.152968,1.0,0.5,0.534351,0.0,0.548387,0.50,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
301,0.583333,1.0,0.339623,0.011416,0.0,0.5,0.335878,1.0,0.193548,0.25,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
302,0.583333,0.0,0.339623,0.251142,0.0,0.0,0.786260,0.0,0.000000,0.25,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [38]:
# performing train test split
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3, random_state = 100)

In [39]:
# performing test validation split
x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size=1/3)

In [74]:
y_val.shape

(60,)

In [77]:
# base model
model_1 = LinearRegression()
model_2 = xgb.XGBRegressor()
model_3 = RandomForestRegressor()

# training all the model on the train dataset

In [78]:
model_1.fit(x_train, y_train)
val_pred_1 = model_1.predict(x_val)
test_pred_1 = model_1.predict(x_test)

In [80]:
test_pred_1.shape

(31,)

In [81]:
val_pred_1 = pd.DataFrame(val_pred_1)
test_pred_1 = pd.DataFrame(test_pred_1)

In [82]:
model_2.fit(x_train, y_train)
val_pred_2 = model_2.predict(x_val)
test_pred_2 = model_2.predict(x_test)

In [83]:
val_pred_2 = pd.DataFrame(val_pred_2)
test_pred_2 = pd.DataFrame(test_pred_2)

In [84]:
model_3.fit(x_train, y_train)
val_pred_3 = model_1.predict(x_val)
test_pred_3 = model_1.predict(x_test)

In [85]:
val_pred_3 = pd.DataFrame(val_pred_3)
test_pred_3 = pd.DataFrame(test_pred_3)

In [86]:
# concatinating validation dataset along with all the predicted validation data (meta featueres)
#df_val = pd.concat([x_val, val_pred_1, val_pred_2, val_pred_3], axis=1)
#df_test = pd.concat([x_test, test_pred_1, test_pred_2, test_pred_3], axis=1)

In [88]:
df_val.shape

(11, 24)

In [36]:
df_test.head(50)

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,ca,...,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2,0,0,0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.728017,0.591417,0.728017
1,0.166667,1.0,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.00,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.721197,0.374372,0.721197
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.049968,-0.024900,-0.049968
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.921575,1.002227,0.921575
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.966072,1.089944,0.966072
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.650010,0.554520,0.650010
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.201136,-0.000702,-0.201136
7,0.312500,1.0,0.245283,0.312785,0.0,0.5,0.778626,0.0,0.000000,0.00,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.109528,0.942900,1.109528
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.943493,1.038130,0.943493
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.803508,0.991872,0.803508
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.683323,0.196800,0.683323
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.001917,0.937395,1.001917
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.014692,1.003987,1.014692
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.027284,1.002702,1.027284
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.094367,-0.305876,0.094367
15,0.437500,0.0,0.245283,0.212329,0.0,0.5,0.664122,0.0,0.258065,0.00,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.810159,0.986060,0.810159
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.830841,1.039126,0.830841
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.400954,0.295826,0.400954
18,0.291667,1.0,0.528302,0.276256,0.0,0.5,0.763359,0.0,0.241935,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.062846,-0.023624,-0.062846
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.959869,0.986036,0.959869
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.673236,0.938863,0.673236
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.038113,0.002186,0.038113
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.006543,-0.065862,-0.006543
23,0.666667,1.0,0.528302,0.267123,1.0,0.5,0.503817,1.0,0.161290,0.00,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.967936,0.982235,0.967936
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.556006,0.969956,0.556006
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.720021,0.620149,0.720021
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.221731,0.049162,-0.221731
27,0.458333,1.0,0.150943,0.111872,0.0,0.5,0.396947,0.0,0.096774,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.757386,0.137221,0.757386
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.121756,-0.018601,-0.121756
29,0.500000,1.0,0.339623,0.162100,1.0,0.0,0.618321,0.0,0.193548,0.00,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.532533,0.762243,0.532533
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.189936,-0.100594,-0.189936
40,0.458333,0.0,0.433962,0.415525,0.0,0.0,0.541985,0.0,0.241935,0.25,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
64,0.604167,1.0,0.433962,0.194064,1.0,0.0,0.717557,0.0,0.000000,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
75,0.541667,0.0,0.386792,0.283105,0.0,0.0,0.687023,0.0,0.225806,0.00,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN
97,0.479167,1.0,0.132075,0.244292,1.0,0.5,0.580153,0.0,0.016129,0.75,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN
111,0.583333,1.0,0.528302,0.000000,1.0,0.5,0.778626,0.0,0.032258,0.25,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN
118,0.354167,0.0,0.103774,0.178082,0.0,0.5,0.770992,0.0,0.000000,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
134,0.250000,0.0,0.301887,0.410959,0.0,0.5,0.702290,0.0,0.000000,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
149,0.270833,1.0,0.339623,0.123288,0.0,0.5,0.603053,0.0,0.000000,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
156,0.375000,1.0,0.339623,0.289954,0.0,0.5,0.824427,0.0,0.000000,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
157,0.125000,1.0,0.264151,0.150685,0.0,0.5,0.786260,0.0,0.000000,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
161,0.541667,0.0,0.358491,0.493151,0.0,0.5,0.725191,0.0,0.193548,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
187,0.520833,1.0,0.283019,0.319635,0.0,0.0,0.290076,1.0,0.354839,0.25,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN
191,0.604167,1.0,0.320755,0.205479,0.0,0.0,0.458015,1.0,0.354839,0.75,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN
194,0.645833,1.0,0.433962,0.134703,0.0,0.0,0.641221,0.0,0.483871,0.00,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN
199,0.750000,1.0,0.150943,0.278539,0.0,0.0,0.664122,0.0,0.096774,0.50,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
217,0.708333,1.0,0.339623,0.465753,1.0,0.0,0.465649,1.0,0.290323,0.75,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN
220,0.708333,0.0,0.528302,0.641553,0.0,0.0,0.633588,0.0,0.645161,0.75,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN
241,0.625000,0.0,0.754717,0.280822,0.0,0.5,0.549618,1.0,0.000000,0.00,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN
243,0.583333,1.0,0.547170,0.337900,0.0,0.5,0.129771,1.0,0.193548,0.25,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN

In [34]:
# making the final model using the meta features
#final_model = LinearRegression()
#final_model.fit(df_val, y_val)

In [ ]:

#final_pred = final_model.predict(df_test)

In [ ]:
#print(mean_squared_error(y_test, pred_final))